* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    width: 100%;
    height: 92vh;
    background-color: rgb(87, 100, 100);
}

/*header {
    width: 100%;
    height: 8vh;
    background:linear-gradient(rgba(17, 17, 17, 1), rgba(20, 20, 20, 0.85));
}*/

.logomarca {
    width: 36px;
    height: 36px;
    background-color: #caaa80;
    border-radius: 5px;
    transform: rotate(45deg);
    margin: 0 100px;
}

.letra-logo {
    font-size: 28px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(315deg);
    position: relative;
    top: 1px;
    left: 0.2px;    
}

.logo {
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
}
    
#navbarSupportedContent {
color: #caaa80;
font-family: 'Urbanist', sans-serif;
font-weight: bold;
cursor: pointer;
padding: 0 100px;
}
   
.nav-item {
    padding: 15px;
    color: #caaa80;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.nav-link {
color: #caaa80;
font-family: 'Urbanist', sans-serif;
font-weight: bold;
letter-spacing: 2px;
cursor: pointer;
}
.nav-link:hover {
     text-decoration: underline;
     color: #caaa80;
}

/* hero background image */
.bgimage {
    height:100vh;
    background:linear-gradient(rgba(78, 70, 70, 0.8), rgb(20, 20, 20, 1)), url(wepik-2022217-144322.png);
    background-size:cover;
    position:relative;
}
/*.conteudo-página {
    width: 100%;
    height: 92vh;
    display: flex;
    position: relative;
    background:linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20, 1)), url(wepik-2022217-144322.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}*/

/*.texto {
    width: 850px;
    height: 200px;
    color: rgb(66, 66, 65);
    position: absolute;
   
}*/
.texto-secundario {
    font-size: 3.0rem;
    font-family: 'Poiret One', cursive;
    padding-left: 25px;
    padding-top: 25px;
    color: beige;
    position: absolute;
    top: 120px;
    left: 90px;
}
.texto-principal {
    font-size: 3.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    padding-left: 25px;
    color: beige;
    position: absolute;
    top: 225px;
    left: 150px;
} 

.icones {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 400px;
    left: 30px;
   
}

.icones-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-top: 10px;
    font-size: 27px;
}

.icones-tipos {
    color: #c98f43;
    cursor: pointer;
}

.foto {
    width: 320px;
    height: 400px;
    display: flex;
    background-color: red;
    background-image: url(fotomarcela2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 320px;
    left: 920px;   
}
    
.foto-contorno {
    width: 320px;
    height: 400px;
    display: flex;
    position: absolute;
    top: 315px;
    left: 924px; 
    border: #947a59 solid;
    border-width: thin;
}

.contato {
    width: 100%;
    height: 15vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.formas-contato {
    list-style: none;
    align-items: center;
}

    