* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    width: 100%;
    height: 92vh;
    background-color: rgb(87, 100, 100);
}*/

header {
    width: 100%;
    height: 8vh;
    background-color: black;
}

.cabeçalho {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    color: beige;
}

.logo {
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
}

.menu-navegação {
    display: flex;
}
   
.menu-navegação-itens {
    width: 100px;
    height: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f3222;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.conteudo-página {
    width: 100%;
    height: 92vh;
    display: flex;
    position: relative;
    background:linear-gradient(rgba(97, 97, 97, 0.8), rgba(20,20,20,1)), url(wepik-2022217-144322.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/*.texto {
    width: 850px;
    height: 200px;
    color: rgb(66, 66, 65);
    position: absolute;
   
}*/
.texto-secundário {
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    padding-left: 25px;
    padding-top: 25px;
    color: beige;
    position: absolute;
    top: 100px;
    left: 90px;
}

.texto-principal {
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
    padding-left: 25px;
    color: beige;
    position: absolute;
    top: 180px;
    left: 150px;
}    

.icones {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 400px;
    left: 30px;
   
}

.icones-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-top: 10px;
    font-size: 27px;
}

.icones-tipos {
    color: #947a59;
    cursor: pointer;
}

.foto {
    width: 320px;
    height: 400px;
    display: flex;
    background-color: red;
    background-image: url(fotomarcela2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 300px;
    left: 920px;   
}
    
.foto-contorno {
    width: 320px;
    height: 400px;
    display: flex;
    position: absolute;
    top: 304px;
    left: 924px; 
    border: #947a59 solid;
    border-width: thin;
}

    